* {
  cursor: default;
}

body {
  display: flexbox;
  position: relative;
  font-size: 20px;
  max-width: 700px;
  min-height: 80%;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.main_wrapper {
  position: relative;
  height: 90vh;
  background-color: blue;
}
.main_content {
  border: 2px solid black;
  margin: 5%;
  background-color: blue;
}
.cover {
  border: none;
  margin: 10%;
  width: 80%;
  height: 100%;
}
.info {
  border: 2px solid black;
  margin: 10%;
  background-color: rgb(64, 64, 250);
}
.interface {
  display: relative;
  border: 2px solid black;
  margin: auto;
  justify-content: center;

  align-items: center;
  width: 50%;

  background-color: darkblue;
}
.title {
  border: 1px solid black;
  background-color: lightblue;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.coverImage {
  margin: 0%;
  width: 50%;
}
.Button {
  display: flexbox;
  font-size: 0.9rem;
  font-weight: bold;
  margin: auto;
  padding: auto;
  background-color: white;
  border-color: blue;
  cursor: default;
  border: 3px solid;
  border-radius: 25%;
}
.timer {
  border: 2px solid;
  justify-self: center;
  align-self: center;

  width: 100%;
}
.range {
  width: 100%;
  display: flex;
  justify-content: center;
}
.timeDisplay {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flexbox;
  word-spacing: 200px;
  text-align: center;
}
.likeButton {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 0;
  filter: grayscale();
}

.liked {
  color: white;
  filter: none;
  border: none;
}
.tracklist {
  position: relative;
  font-size: 1rem;
  overflow-y: scroll;
  background-color: rgb(87, 87, 255);
  border: 1px solid white;
  height: 140px;
  width: 80%;
  margin: auto;
  text-align: left;
  color: black;
}
.active {
  color: yellow;
}
.navigation {
  display: flex;
  position: relative;

  justify-content: center;
  padding: 0;
  margin-top: 50px;
  margin: auto;
  gap: 3rem;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.navigation button {
  padding: 1%;
  border: 2px solid;
}
footer {
  background-color: rgb(0, 0, 234);
  margin-top: 50%;
  margin-bottom: 10%;
}

.likeList {
  position: relative;
  background-color: rgba(255, 255, 255, 0.615);
  margin: 5%;
  justify-content: center;
  border: 2px solid black;
  list-style: none;
  overflow-y: scroll;
  height: 200px;
}
.likeHeader {
  position: relative;
  color: white;
  top: 0;
  text-align: center;
  justify-content: center;
}
.playAllLiked {
  display: grid;
  position: relative;
  justify-content: center;
  justify-self: center;
  align-self: center;
  place-self: center;
  margin: auto;
  padding: auto;
}
.coverlist {
  width: 90%;
}
.AlbumList {
  font-size: 1rem;
  color: white;
  display: grid;
  grid-template-columns: 55% 55%;
  text-align: center;
  list-style: none;

  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  overflow-y: scroll;
  height: 65vh;
}
.AlbumImage {
  width: 60%;
  box-shadow: 11px 11px 13px 5px rgba(0, 0, 0, 0.4);
}
.App-header {
  background-color: lightblue;
}
li {
  list-style: none;
}
.copyright {
  margin-top: 10%;
  font-size: 1rem;
  background-color: aqua;
  margin-bottom: 0;
}
.release {
  color: lightgrey;
  font-size: 0.8rem;
}
.consoleButton {
  background-color: transparent;
  font-size: 2rem;
  margin: 4%;
  border: none;
}
button:active {
  border: none;
}
button:focus {
  outline: none;
}
.genreImage {
  width: 30%;
}
.genreImageDiv {
  overflow-x: scroll;
}
.genreDiv {
  overflow-x: hidden;
  overflow-y: scroll;
}
